@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --card-height: 126px;
}


.blacktable{
  width: 70vw;
  height: 70vh;
}

.card{
  width: 90px;
  height: var(--card-height);
  background-color: aliceblue;
  color: black;
}

.h-card{
  height: var(--card-height);
}